h1 {
  background-color: green;
}

div {
  background-color: blue;
}

header {
  background-color: green;
}

nav {
  background-color: blueviolet;
}

span {
  background-color: green;
}

footer {
    background-color: blue;
}
